#welcome, #quiz, #inputScore, #highScores {
    width: 70%;
}

#quiz, #inputScore, #highScores {
    display: none;
}

.jumbotron {
    background-color: rgb(82, 87, 116);
    border-radius: 10px;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background: rgb(71, 71, 91);
}

#viewHScores{
    cursor: pointer;
}

.container#scores{
    background: blue;
    color: white;
}